.step-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  background: white;
}

.title-text {
    color: var(--color-primary);
}

.step-circle.active {
  background: var(--color-accent);
}
.divider {
  border-top: 2px solid var(--color-primary);
}
.step-line {
  width: 100px;
}
.text-description {
  font-size: 0.75rem;
}
.form-check-input{
    border: 2px solid var(--color-primary);
    background-color: var(--color-accent-light);
}
.access-btn{
    width: 80%;
}
.text-under{
    font-size: 12px;
    color: black;
}
.text-middle{
    font-size: 15px;
}
.id-number{
    font-size: 24px;
    color:var(--color-primary)
}
.previous-button{
    border: 2px solid var(--color-primary);
    background-color: var(--color-accent);
    color: var(--color-primary);
}