body {
  background-color: var(--color-accent-light);
  font-family: var(--font-secondary);
}
.left-img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}
.logo-circle {
  width: 80px;
  height: 80px;
}
.logo-text {
  color: var(--color-primary);
  font-size: 30px;
}
.text-under {
  color: var(--color-primary);
}
.field-label {
  font-size: 18px;
}
.break-line {
  border: 2px solid var(--color-primary);
  border-radius: 2px;
}
.btn-login,
.btn-verify {
  background-color: var(--color-primary);
  color: white;
  font-weight: var(--font-weight-medium);
}
.btn-login:hover,
.btn-verify:hover {
  background-color: var(--color-primary-light);
  color: white;
}
.btn-back {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}
.btn-back:hover {
  border: 2px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.error-message {
  margin-bottom: 20px;
}

.error-message.recaptcha {
  margin-top: -20px;
  font-size: 14px;
  color: var(--bs-form-invalid-color);
  text-align: center;
}
