.patient-profile-container {
  background-color: var(--color-accent) !important;
  border: 0.5px solid var(--color-primary) !important;
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px 0;
}
.patient-profile-wrapper {
  max-width: 91.5vw;
  margin: 0 auto;
  padding: 0 20px;
}
.appointment-history-container {
  padding: 30px;
  box-sizing: border-box;
}
