.step-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid var(--color-primary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
  background: white;
}

.step-circle.active {
  background: var(--color-accent);
}

.step-circle.completed {
  background: var(--color-accent);
  border-color: var(--color-primary);
}

.step-line {
  width: 100px;
}
