.breadcrumb ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li.breadcrumb-item {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s all ease;
}

.breadcrumb li.breadcrumb-item.active {
  text-decoration: none;
  opacity: 0.8;
  cursor: default;
}

.breadcrumb li.breadcrumb-item .slash {
  margin: 0 0.4rem;
  color: var(--color-primary);
  opacity: 0.7;
}
