.header {
  background-color: #05668d;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-container {
  max-width: 80vw;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--color-accent);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.logo-container img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-container h3 {
  font-size: 0.9rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  margin: 0;
  line-height: 1.2;
}

.logo-container .text-logo {
  display: flex;
  flex-direction: column;
}

.header-right button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  font-weight: var(--font-weight-bold);
  font-size: 0.9rem;
  cursor: pointer;
}

.welcome-section {
  margin: 50px 40px 50px 40px;
}

.welcome-section .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
