.container {
  font-family: var(--font-secondary);
  background-color: var(--color-accent-light);
  color: var(--color-primary);
  max-width: 78vw;
}

.patient-table-container,
.appointment-table-container {
  background-color: var(--color-accent);
  border: 0.5px solid var(--color-primary);
  border-radius: 10px;
  margin: 0 auto 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

.staff-dashboard-container {
  max-width: 91.5vw;
  margin: 0 auto;
}

.patient-info-card {
  padding: 14px 18px;
  gap: 18px;
  display: flex;
  align-items: center;
}

.top-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.top-card-title {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
}

.top-card-description {
  font-size: 15px;
  color: #000;
  line-height: 1.3;
  margin: 0;
}

.custom-btn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 992px) {
  .card-equal,
  .patient-info-card {
    min-height: auto;
    height: auto;
  }
  .patient-info-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .custom-btn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .top-card-title {
    font-size: 16px;
  }
  .top-card-description {
    font-size: 12.5px;
  }
  .custom-btn {
    font-size: 13px;
    padding: 7px 12px;
  }
}
